@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="mt-5 pt-5">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <h1>Seja bem vindo ao CRM ZAPEX</h1>
                <P>Acelere o crescimento do cliente e a satisfação do cliente com o ClickUp.</P>
                <ul>
                    <li>
                        <p>Visualize o pipeline</p>
                    </li>
                    <li>
                        <p>Rastrear e gerenciar contas</p>
                    </li>
                    <li>
                        <p>Colabore com sua equipe</p>
                    </li>
                    <li>
                        <p>Simplifique os fluxos de trabalho dos clientes</p>
                    </li>
                </ul>
                <div class="grid gap-3">
                    <div class="p-2 g-col-6">Grid item 1</div>
                    <div class="p-2 g-col-6">Grid item 2</div>

                </div>
            </div>
                <div class="grid gap-5">
                    <button type="button" class="btn btn-outline-primary p-2 g-col-6">Introdução de um</button> 
                <p class="p-2 g-col-6">- Grátis para sempre. <br> Sem cartão de crédito.</p>
                </div>
            </div>
            <div class="col col-lg-5">

            </div>
        </div>
    </div>
</main>
